/*--------------------------
    Google Fonts CDN link 
 ----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kaushan+Script&family=Poppins:wght@300;500;700;900&display=swap');
/*--------------------------
    Google Fonts CDN link 
 ----------------------------*/

/*--- variable declare hare ---*/

:root {
    --font-1: 'Courgette', cursive;
    --font-2: 'Kaushan Script', cursive;
    --pop: 'Poppins', sans-serif;
    --ylw: #FFB200;
    --blk: #191919;
}

/*--- variable declare hare ---*/

/*--- Common StyleSheet Start ---*/

html {
    font-size: 1vw;
}

.btn {
    font-size: 3rem;
    background-color: var(--ylw);
    font-family: var(--pop);
    text-transform: capitalize;
    color: var(--blk);
    padding: 1rem 3rem;
    cursor: pointer;
    border-radius: 1rem;
    outline: none;
    border: none;
    transition: transform 1s linear;
}

.btn:hover {
    transform: scaleX(1.2);
}

/*--- Common StyleSheet End ---*/

/* Header Section Style Sheet Start */

#home {
    background: transparent;
    position: fixed;
    top: 0;
    z-index: 999;
}
#home ul li > ul{
    background: #fff;
    color: var(--blk);
}
#home ul li > ul li a{
    color: var(--blk);
    border-radius: 0;
}
#home ul li > ul li a:hover{
    background: transparent;
    letter-spacing: 5px;
    transform: scale(1);
    border-bottom: 1px solid #99999952;
}
#home a{
    color: #fff;
}
#home a:hover{
    transform: scaleX(1.1);
}
#home h1{
    font-size: 2.5rem;
}
.cow-logo:hover{
    transform: scaleX(1.4);
}
#home ul li a{
    font-size: 1.5rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    transition: background .5s linear;
}
#home ul li a:hover{
    background: #fff;
    color: var(--blk);
}
.sticky{
    background: #fff;
    color: var(--blk);
}
.sticky a{
    color: var(--blk);
}
@media (max-width: 767px) {
    #home h1{
        font-size: 4rem;
    }
    #home ul li a,
    #home button span
    {
        font-size: 2rem;
    }
    #home button {
        border: 2px solid #fff;
        border-radius: 2px;
        outline: none;
    }
    #home ul{
        background: #fff;
        color: var(--blk);
    }
    #home ul li a{
        color: var(--blk);
        border-radius: 0;
    }
    #home ul li a:hover{
        background: transparent;
        letter-spacing: 5px;
        transform: scale(1);
        border-bottom: 1px solid #99999952;
    }
}
@media (max-width: 320px) {
    #home h1{
        font-size: 5rem;
    }
    #home ul li a,#home button span{
        font-size: 3rem;
    }
}

/* Header Section Style Sheet End */

/* Bennar Section style sheet Start */

.slide-1{
    background: linear-gradient(rgba(0, 0, 0, 0.445),rgba(0, 0, 0, 0.445)), url(../img/cowhat/cowhat-4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.slide-2{
    background: linear-gradient(rgba(0, 0, 0, 0.445),rgba(0, 0, 0, 0.445)), url(../img/cowhat/cowhat-5.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.slide-3{
    background: linear-gradient(rgba(0, 0, 0, 0.445),rgba(0, 0, 0, 0.445)), url(../img/cowhat/cowhat-6.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.cow-bennar{
    text-align: center;
    padding: 100px 60px 60px 60px;
    color: #fff;
}
.cow-bennar h2{
    font-size: 6rem;
    text-transform: capitalize;
    margin-bottom: 4rem;
}
.cow-bennar p{
    font-size: 1.5rem;
}
/* Bennar Section style sheet End */

.tracking-in-expand-fwd {
	animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite;
}
  
@keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
}
  